@use "../modes/mode.scss" as Mode;

$config : Mode.$config;
$config : Mode.$color;

@mixin ComponentNormal($config, $color){
    $name: map-get($config, name);
    
    .nuxt-loading-indicator{
        background: map-get($color, mainColor) !important;
    }
}