$screen: (
  xs: 200px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$peace: 12;
$defaultColumnSpace: 5;
$defaultUnitRow: 1px;

$defaltCalcUnit: calc($defaultColumnSpace * $defaultUnitRow);

$ratio: (
  1x1: 1,
  2x3: calc(3 / 2),
  3x4: calc(4 / 3),
  16x9: calc(9 / 16),
  21x9: calc(9 / 21),
);

$screenStep: (25, 50, 75, 100);

$spacer: (
  marginTop: (
    sub: "mt",
    css: "margin-top",
    unitcount: 1,
    unit: "px",
  ),
  marginBottom: (
    sub: "mb",
    css: "margin-bottom",
    unitcount: 1,
    unit: "px",
  ),
  marginLeft: (
    sub: "ml",
    css: "margin-left",
    unit: "px",
    unitcount: 1,

  ),
  marginRight: (
    sub: "mr",
    css: "margin-right",
    unitcount: 1,
    unit: "px",
  ),
  paddingTop: (
    sub: "pt",
    css: "padding-top",
    unitcount: 1,
    unit: "px",
  ),
  paddingBottom: (
    sub: "pb",
    css: "padding-bottom",
    unitcount: 1,
    unit: "px",
  ),
  paddingLeft: (
    sub: "pl",
    css: "padding-left",
    unitcount: 1,
    unit: "px",
  ),
  paddingRight: (
    sub: "pr",
    css: "padding-right",
    unit: "px",
    unitcount: 1,

  ),
  display: (
    sub: "d",
    css: "display",
    items: (
      "block",
      "flex",
      "grid",
      "none",
    ),
  ),
  height: (
    sub: "h",
    css: "height",
    unit: "%",
    items: $screenStep,
  ),
  width: (
    sub: "w",
    css: "width",
    unit: "%",
    items: $screenStep,
  ),
  heightScreen: (
    sub: "vh",
    css: "height",
    unit: "vh",
    items: $screenStep,
  ),
  widthScreen: (
    sub: "vw",
    css: "width",
    unit: "vw",
    items: $screenStep,
  ),
  position: (
    sub: "p",
    css: "position",
    items: (
      "absolute",
      "relative",
      "static",
      "sticky",
    ),
  ),
  marginHorizone: (
    sub: "mx",
    css: (
      "margin-left",
      "margin-right",
    ),
    unitcount: 1,
    unit: "px",
  ),
  marginVertical: (
    sub: "my",
    css: (
      "margin-top",
      "margin-bottom",
    ),
    unitcount: 1,
    unit: "px",
  ),
  paddingHorizone: (
    sub: "px",
    css: (
      "padding-top",
      "padding-bottom",
    ),
    unitcount: 1,
    unit: "px",
  ),
  paddingVertical: (
    sub: "py",
    css: (
      "padding-top",
      "padding-bottom",
    ),

    unitcount: 1,
    unit: "px",
  ),
  alignItems: (
    sub: "ai",
    css: "align-items",
    items: ("center", "flex-start", "flex-end")
  ),
  justifyContent: (
    sub: "jc",
    css: "justify-content",
    items: ("center", "flex-start", "flex-end", "space-between")
  )
);