@use "/giaodien/modes/mode.scss" as Mode;
@use "./my-generate.scss" as Generate;
$config: Mode.$config;
$name: map-get(Mode.$config, name);
$colorNormal: Mode.$colorNormal;
$colorDark: Mode.$colorDark;

.#{$name}-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -#{Generate.$defaultColumnSpace};
}

.#{$name}-ratio-item {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
