@use "/src/giaodien/modes/mode.scss" as Mode;
$config: Mode.$config;
$name: map-get(Mode.$config, name);
$colorNormal: Mode.$colorNormal;
$colorDark: Mode.$colorDark;

.#{$name}-cate-name{
  font-size: 16px;
  margin-bottom: 0px;
}

.#{$name}-skeleton-topbar-icon{
    width: 36px;
    height: 36px;
    border-radius: 36px;
}
.#{$name}-skeleton-topbar-title{
  width: 80px;
  height: 16px;
  border-radius: 5px;
  margin-left: 10px;
}


.#{$name}-item-mntb {
  position: relative;
  height: map-get($config, topBarHeight);
  &.#{$name}-active {
    & button{
      color: map-get($config, primaryColor);
    }
    &::after {
      content: "";
      width: 100%;
      height: 3px;
      position: absolute;
      border-radius: 5px;
      bottom: 0;
      left: 0;
      background-color: map-get($config, primaryColor);
    }
  }
  & button {
    outline: none;
    border: none;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    font-size: 16px;
    height:calc(map-get($config, topBarHeight) - 15px);
    background: map-get($colorNormal, background);
    border-radius: 6px;
    padding: 0px 10px;
    cursor: pointer;
    
    &:hover {
      color: map-get($config, primaryColor);
      background: rgb(228, 228, 228);
    }
    &:active,
    &:focus {
      position: relative;
    }
  }
  & svg {
    font-size: 30px;
  }
  font-size: 20px;
}
.#{$name}-icon-mntb {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.#{$name}-skeleton-topbar-place{
  width: 100%;
  display: flex;

  align-items: center;
}

.#{$name}-skeleton-topbar-o{
  width: 100%;
  height: 36px;
  border-radius: 6px;
  animation: slide-down-skeleton-topbar .3s;
}

.enter-skeleton{
  animation: slide-down-skeleton-topbar .3s;
}

.leave-skeleton{
  animation: slide-down-skeleton-topbar .3s reverse;
}

@keyframes slide-down-skeleton-topbar {
  0%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0px);
  }
}

[mode="dark"]{
  .#{$name}-item-mntb {
    & button {
      background: map-get($colorDark, background);
      cursor: pointer;
      &.#{$name}-active {
        color: map-get($config, primaryColor);
        &::before {
          background-color: map-get($config, primaryColor);
        }
      }
      &:hover {
        color: map-get($config, primaryColor);
      }
      &:active,
      &:focus {
        position: relative;
      }
    }
  }
}

