
$config: (
    name: son,
    topBarHeight: 60px,
    contentPadding: 20px,
    layer: 2022,
    borderRadius: 6px,
    simpleContainer: 688px,
    primaryColor: brown,
);


$same: (
  mainColor: brown,
);

