@use "./components/menuTopBar/menuTopBar.scss" as MenuTopBar;

@mixin ComponentMode($config, $color){
    $name: map-get($config, name);
    .#{$name}-topbar{
        height: map-get($config, topBarHeight );
        display: flex;
        justify-content: center;
        align-items: center;
        padding: map-get($config, contentPadding );
        background: map-get($color, background);
        box-shadow: 0px 2px 5px map-get($color, boxShadow);
        color: map-get($color, color);
        flex-wrap: nowrap;
        z-index: calc(map-get($config, layer) * 2);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }
    .#{$name}-left-topbar{
        font-size: 20px;
        position: absolute;
        left: map-get($config, contentPadding);
    }

    .#{$name}-right-topbar{
        position: absolute;
        right: map-get($config, contentPadding);
    }

    .#{$name}-tab-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: map-get($config, contentWidth );
        height: map-get($config, topBarHeight);
    }

    @include MenuTopBar.ComponentMode($config, $color)
}
