@use "./mode.scss" as Mode;
@use "../config/config.scss" as Config;
$color: map-merge(
  Config.$SamePropColor,
  (
    background: black,
    color: white,
    boxShadow: rgb(12, 12, 12),
    lineColor: rgb(212, 212, 212),
    boxShadowTop: black,
  )
);

.mode-dark {
  @include Mode.ModePlate($color);
}

@include Mode.ModeTotal($color);
