@use "./mode.scss" as Mode;
@use "../config/config.scss" as Config;

$color: map-merge(
  Config.$SamePropColor,
  (
    background: white,
    color: black,
    boxShadow: rgb(163, 163, 163),
    lineColor: rgb(212, 212, 212),
    boxShadowTop: rgb(163, 163, 163),
  )
);

.mode-simple {
  @include Mode.ModePlate($color);
}

@include Mode.ModeTotal($color);
